<li class="testimonial">
  <p class="testimonial--text">"{{testimonial}}"</p>
  <div class="testimonial--author">
    <img src={{image}} alt="photo of {{person}}" loading="lazy"/>
    <div class="testimonial--author-details">
      <span class="person"><a href={{link}}>{{person}}</a></span>
      {{#if job}}<span class="role">{{job}}</span>{{/if}}
      {{#if company}}<span class="company">{{company}}</span>{{/if}}
    </div>
  </div>
</li>
